.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
    z-index: 999;
}

.Modal .modal-container {
    padding: 50px 20px 20px 20px;
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    animation: fadeUp 300ms ease;
}

.Modal .close-btn {
    position: absolute;
    top: 15px;
    left: 20px;
    color: var(--default-grey-color);
    font-size: 22px;
    cursor: pointer;
}

@keyframes fadeUp {
    from {
        transform: translateY(200px);
    }

    to {
        transform: translateY(0);
    }
}